body{
   background-image: url('fundo.jpg');
   background-size: cover;
   font-family: sans-serif;
   font-size: 20px;
	margin: 0;
	line-height: 24px;
}



footer {
	clear: both;
}

footer {
	padding: 20px 0;
}

footer {
	 position: absolute;
	 top:500px;
	 left: 80%;
}